<form onsubmit={{fn this.submit @model}}>
  <input type='text' value={{this.text}} onchange={{fn this.onChange}}/>
  <button type='submit'>Add To-Do</button>
</form>
<ol>
  {{#each @model as |todo|}}
  <li>{{todo}}</li>
  {{/each}}
</ol>

